.uni-SearchButton {
  background-color: #f5f5fa;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-weight: 500;
  height: 48px;
  transition: border-color 100ms ease-out;
  user-select: none;
  text-decoration: none;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 32px;
  @media (--algolia-theme-breakpoint-sm-max) {
    padding: 0 8px;
    width: 40px;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
  @media (min-width: 1200px) {
    display: flex;
  }
}

.uni-SearchButton-InputContent {
  @media (--algolia-theme-breakpoint-sm-max) {
    display: none;
  }

  @media (min-width: 1200px) {
    font-size: 14px;
    font-family: Poppins,Arial,sans-serif;
    color: #484c7a;
    padding-right: 8px;
  }

  @media (min-width: 700px) {
    color: #484c7a;
  }
}

.uni-SearchButton-Shortcut {
  background-color: #fff;
  visibility: hidden;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.12);
  color: #666;
  margin-left: 0.5rem;
  padding: 3px 5px;
  @media (--algolia-theme-breakpoint-sm-max) {
    display: none;
  }
}

.uni-SearchButton-Icon {
  color: var(--algolia-theme-color-primary);
  width: 40px;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 8px 8px 8px 16px;
  display: -webkit-flex;
  display: flex;
}
